.fill{
    min-height: 100%;
    height: 100%;
}

.title-mayor{
    color: whitesmoke;
    text-shadow: 0.1em 0.1em #333
}

.title-minor{
    color: whitesmoke;
    text-shadow: 0.1em 0.1em #333
}

.color-buttons{
    cursor: pointer;
    color: whitesmoke;
    background-color: #D66945;
    border-color: black;
    font-size:x-large;
    border-style: solid;
    border-radius: 4px;
}

.color-text{
    color: whitesmoke;
    font-size:xx-large;
    text-shadow: 0.1em 0.1em #333
}

.color-href{
    color: whitesmoke;
    background-color: #D66945;
    border-color: black;
    font-size:x-large;
    border-style: solid;
    border-radius: 4px;
}

.image-decoration{
    border-style: solid;
    border-radius: 4px;
    cursor: pointer;
}

html{
    height: 100%;
}

body{
    background: url('/images/fondo.png');
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.back-game{
    background: url("/images/vistaArea.jpg");
}

.back-menu{
    background: black;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    border-style: solid;
    border-color: whitesmoke;
}
